%a{:class => "boob", :href => "#"} hi

%form
  %fieldset
    %h3 Contact Form
    %ol
      %li
        %label Full Name
        %input{:type => "text", :name => "full_name", :placeholder => "Full name", :class => "medium"}
      %li
        %label Address
        %input{:type => "text", :name => "full_name", :placeholder => "Full name", :class => "large"}
      %li
        %label Address
        %input{:type => "text", :name => "full_name", :placeholder => "Full name", :class => "small"}
      %li
        %label Address
        %input{:type => "text", :name => "full_name", :placeholder => "Full name", :class => "extra_large"}
      %li
        %label Address
        %input{:type => "text", :name => "full_name", :placeholder => "Full name", :class => "extra_small"}
      %li
        %input{:type => "submit", :id => "submit", :class => "btn blue_btn", :value => "submit form"}
        
        %input{:type => "submit", :id => "submit", :class => "btn grey_btn", :value => "submit form"}
        
        %a{:class => "btn blue_btn", :href => "#"} hello
        
    